# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
## Optional values (Only used withins the `docker-compose.yaml`)
POSTGRES_VOLUME_PATH=

# Indexer
DB_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
## Optional values (Check README.md for more details)
SQD_GATEWAY=
RPC_URL=
RPC_RATE_LIMIT=
FINALITY_CONFIRMATION=
IPFS_GATEWAY=
FETCH_LIMIT=
FETCH_BATCH_SIZE=
FETCH_RETRY_COUNT=

# Hasura (Only needed when running the `docker-compose.yaml` with the hasura container)
PG_DATABASE_URL=${DB_URL}
HASURA_GRAPHQL_DATABASE_URL=${DB_URL}
HASURA_GRAPHQL_METADATA_DATABASE_URL=${DB_URL}
HASURA_GRAPHQL_PORT=8080
HASURA_GRAPHQL_ENDPOINT=http://hasura:8080
HASURA_GRAPHQL_ADMIN_SECRET=some_secret_key_to_access_hasura_console
HASURA_GRAPHQL_ENABLE_CONSOLE=true
HASURA_GRAPHQL_DEV_MODE=true
HASURA_GRAPHQL_ENABLED_LOG_TYPES=startup,http-log,webhook-log,websocket-log,query-log
HASURA_GRAPHQL_METADATA_DEFAULTS='{"backend_configs":{"dataconnector":{"athena":{"uri":"http://data-connector-agent:8081/api/v1/athena"},"mariadb":{"uri":"http://data-connector-agent:8081/api/v1/mariadb"},"mysql8":{"uri":"http://data-connector-agent:8081/api/v1/mysql"},"oracle":{"uri":"http://data-connector-agent:8081/api/v1/oracle"},"snowflake":{"uri":"http://data-connector-agent:8081/api/v1/snowflake"}}}}'
HASURA_GRAPHQL_UNAUTHORIZED_ROLE=public
